body {
  background-image: url(./pexels-lukas-296283.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
}

@media screen and(min-width:992px) {
  .navbar {
    padding: 0;
  }

  .navbar .navbar-nav .nav-link {
    padding: 1em;
  }
}

.navbar .navbar-nav .nav-item {
  position: relative;
}

.navbar .navbar-nav .nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  content: "";
  background-color: #259eee;
  width: 0%;
  height: 2px;
  transition: all 0.5s;
}

.navbar .navbar-nav .nav-item:hover::after {
  width: 100%;
}

.rounded-img {
  width: 50%;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.762);
  padding: 0.4em;
}

.title {
  font-size: 45px;
  line-height: 45px;
}
.title span {
  display: inline;
  background-color: rgba(174, 0, 255, 0.684);
  box-shadow: -5px 0 0 rgba(174, 0, 255, 0.684),
    5px 0 0 rgba(174, 0, 255, 0.684);
  color: #ffffff;
  font-size: 45px;
}

.info {
  font-size: 25px;
  line-height: 25px;
}
.info span {
  display: inline;
  background-color: rgba(174, 0, 255, 0.684);
  box-shadow: -5px 0 0 rgba(174, 0, 255, 0.684),
    5px 0 0 rgba(174, 0, 255, 0.684);
  color: #ffffff;
  font-size: 20px;
}

.main-text {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  padding: 20px 30px 20px 30px;
  margin-bottom: 50px;
}

.row {
  margin: 100px 0px 110px 0px;
}

.paragraph {
  text-indent: 25px;
}

.btn:hover {
  transform: scale(1.1);
}

.h1-for-music {
  text-align: center;
  margin-top: 100px;
}

.video {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
}
